name: Build run and test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: |
            requirements.txt

      - name: Change package version
        id: version
        run: |
          echo "GIT_HASH=$(git rev-parse --short "$GITHUB_SHA")" >> $GITHUB_OUTPUT 
          echo $GIT_HASH
          sed -i 's\0.0.1\0.0.1-$GIT_HASH\g' setup.py
          cat setup.py

      - name: Install python dependencies
        run: |
          python3 -m pip install -r requirements.txt

      - name: Build package
        run: |
          python3 -m build

      - name: Retrieve version
        id: wheel
        run: |
          echo "PACKAGE=$(find "dist/" -type f -name "*.whl")" >> $GITHUB_OUTPUT
          echo "WHL=$(basename "$PACKAGE")" >> $GITHUB_OUTPUT

      - name: Install package
        run: |
          python3 -m pip install ${{ steps.wheel.outputs.PACKAGE }}

      - name: Run scrapper
        run: |
          jobscrapper --config jobscrapper/config.json | tee run.log

      - name: Check if files exists
        run: |
          test -f jobs.xlsx && echo "jobs.xlsx exists."
          cp jobs.xlsx results.xlsx
          test -f debug.log && echo "debug.log exists."
          ls -ll
          ls -ll dist/

      - name: Run tests
        run: |
          python3 -m pytest --html=report.html --cov-report term --cov-report html --cov=jobscrapper

      - name: Move artifacts to single location
        run: |
          mv dist/*.whl .
          mv dist/*.tar.gz .

      - name: 'Upload results.xlsx'
        uses: actions/upload-artifact@v3
        with:
          name: Results excel
          path: |
            **/*.xlsx

      - name: 'Upload whl package'
        uses: actions/upload-artifact@v3
        with:
          name: Wheel package (${{ steps.version.outputs.GIT_HASH }})
          path: |
            **/*.whl

      - name: 'Upload source.tar.gz package'
        uses: actions/upload-artifact@v3
        with:
          name: Source package
          path: |
            **/*.tar.gz
            
